html {
  position: relative;
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  position: relative;
}
.fulfill-button {
  background-color: #ff5e55;
  border: none;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
.shipping-info h3 {
  font-weight: 700;
}
.shipping-needed {
  color: #ff5e55;
  font-weight: 700;
}
.checkout-order {
  background-color: #707070;
  border-radius: 15px;
  color: white;
  margin-bottom: 40px;
}
.modal-button-log {
  background-color: #ff5e55;
  color: white;
  border: none;
  padding: 3px 8px;
}
.modal-forgot-pass {
  font-size: 12px;
  margin: 3px auto;
  margin-bottom: 15px;
  display: none;
}
.modal-button-guest {
  border: 2px solid #ff5e55;
  background-color: white;
  color: #ff5e55;
}
.fullscreen-icon {
  display: none;
}
body {
  position: relative;
}
button {
  outline: none;
}
.main-logo{
  width: 60%;
  height: auto;
}
.side-drawer {
  height: 50%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 7vh;
  left: 0;
  width: 60%;
  max-width: 300px;
  z-index: 840;
  transform: translateX(-105%);
  transition: transform 0.2s ease-out;
}
.side-drawer-open {
  transform: translateX(0);
  transition: .5s;
}
.side-drawer-list {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 830;
  top: 0;
  left: 0;
}
.cart-number {
  margin-right: -8px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  position: relative;
  top:-3px;
}
.nav-image {
  width: 50px;
  height: 50px;
  transition: .5s;
  margin-right: -28px;
}
.nav-image-hidden {
  /* display: none; */
  transition: .5s;
  width: 0px;
  height: 0px;
}
.shopping-cart-image {
  width: 40px;
  height: 40px;
  background-image: url('./images/CartEmpty.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.shopping-cart-item-image{
  width: 40px;
  height: 40px;
  background-image: url('./images/CartItem.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.search-icon {
  width: 30px;
  height: 30px;
  margin-right: 10%;
  transition: .5s;
}

.navbar {
  height: 50px;
  position: fixed;
  top: 0;
  width: 90%;
  margin: 0px 5%;
  display: flex;
  justify-content: space-between;
  transition: .5s;
  align-items: center;
  z-index: 800;
}
.scrolling-navbar {
  height: 50px;
  transition: .5s;
  z-index: 800;
}
.navbar-background {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  transition: .2s;
  padding-bottom: 50px;
  border-bottom: none;
  z-index: 800;
  background-color: white;
}
.scrolling-background {
  border-bottom: 2px solid gray;
  background-color: white;
  transition: .2s;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 99;
}
.navbar-left {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right {
  width: 43%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-item-nav {
  margin-left: 5%;
  text-decoration: none;
  color: black;
}
.hamburger-button {
  padding-left: 0px;
  width: 95px;
  background: transparent;
  border: none;
  z-index: 900;
  height: 24px;
}
.normal {
  transition: .5s;
  width: 40%;
  height: 100%;
  margin-right: 54px;
}
.list-item{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 20px;
  margin-top: 3vh;
}
.list-item a {
  color: black;
}
.list-item a:hover,
.list-item a:active {
  color: #ff5e55;
  list-style-type: none;
  text-decoration: none;
}
.account-nav {
  margin: 0px 1.5vw;
}
.account-nav:hover,
.list-item a:active,
.account-nav:active {
  list-style-type: none;
  text-decoration: none;
  color: #ff5e55;
}

.menu-hidden {
  height: 20vh;
  width: 0;
  transition: .5s;
  position: fixed;
}
.menu-showing {
  position: fixed;
  height: 20vh;
  width: 30%;
  transition: .5s;
}
.main-banner {
  color: gray;
  position: relative;
  margin: 0px auto;
  margin-top: -30px;
  font-weight: lighter;
  width: 90%;
}
.category-container{
  width: 100%;
  height: 22vh;
  border-radius: 20px;
}
.product-div {
  width: 100%;
  height: 22vh;
}
.product-upper {
  width: 100%;
  height: 80%;

}
.product-lower {
  width: 100%;
  height: 20%;
  background-color: #4d4d4d;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-lower a:active,
.product-lower a:hover {
  color: #ff5e55;
}
.upper-div-category{
  background-color: #999999;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-size: cover;
  min-height: 117px;
}
.lower-div-category {
  background-color: #4d4d4d;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-text {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  width: 45%;
  margin-top: 10%;
}
.category-text:hover,
.category-text:active{
  color: #ff5e55;
  text-decoration: none;
}
.nails-category {
  width: 100%;
}
.category-rows {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0px auto;
  min-height: 180px;
}
.categories {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height:540px;
  margin-bottom: 5vh;
}
.mapped-products-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-page {
  margin-top: 50px;
  margin-bottom: 20vh;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  width: 100%;
  height: 20vh;
}
.main-product-div {
  width: 42%;
  height: 20vh;
  margin: 6vh 0;
}
.lower-product {
  background-color: #4d4d4d;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}
.lower-product p {
  margin-bottom: 0px;
}
.image-div {
  height: 20vh;
  width: 100%;
}
.carousel-div {
  display: flex;
  justify-content: center;
}
.carousel-image {
  width: 100%;
  height: 100%;
}
.cart-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.showing {
      background-color: #E8E8E8;
      width: 60%;
      height: 30vh;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: .5s;
      z-index: 900;
      border-radius: 10px;
      box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
      opacity: 1;
      transition: .5s;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .tall {
      height: 55vh;
      transition: .3s;
      min-height: 366px;
    }
.hidden {
  opacity: 0;
  transition: .5s;
  width: 0px;
  height: 0px;
}
.modal-content {
  box-shadow: none;
  background-color: 	#F8F8F8;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.modal-content p {
  font-size: 20px;
}
.modal-content-login {
  height: 35%;
  transition: .3s;
}
.space {
  height: 13px;
}
.modal-button {
  border: 2px solid gray;
  border-radius: 2px;
  font-size: 18px;
}
.modal-button:active {
  background-color: white;
  outline: none;
}
.loginHidden {
  opacity: 0;
}
.login {
  margin: 0px auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.checkout {
  margin: 0px auto;
  justify-content: center;
  margin-top: 70px;
  width: 80%;
}
.shipping-info {
  margin-top: 50px;
}
.checkout-input {
  border: none;
  border-bottom: 2px solid #E8E8E8;
  outline: none;
  height: 30px;
  font-size: 14px;
}
.first-name-last-name-checkout {
  display: flex;
  justify-content: space-between;
}
.add-product {
  display: flex;
  flex-direction: column;
}
.select-color {
  color: #ff5e55;
  margin-top: 3vh;
}
.dropdown-menu {
  overflow-y: scroll;
  max-height: 30vh;
}
.carousel-image-div {
  width: 100%;
  height: 40vh;
}
.carousel-image-image {
  width: 100%;
  height: 100%;
}
.nails-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.mapped-nails {
  display: flex;
}
.product-headline {
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: black;
}
.react-parallax {
  height: 100%;
}
.react-parallax-content {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#black {
  color: black;
}
.product-headline-text {
  margin-top: 10px;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.chevron-back {
  margin-right: 10%;
}
.single-product-main {
  margin-top: 100px;
}
.main-cart-item-div {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 15px auto;
  background-color: #E8E8E8;
  padding-top: 15px;
  padding-right: 15px;
  border-radius: 15px;
}
.left-cart-item {
  width: 50%;
  margin-bottom: 10px;
}
.right-cart-item {
  width: 50%;
}
.main-cart {
  margin-top: 80px;
  margin-bottom: 25vh;
}
.empty-cart {
  margin-top: 40vh;
}
.subtotal-showing {
  height: 15vh;
  width: 100%;
  background-color: #ff5e55;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subtotal-hidden {
  height: 0px;
  overflow: hidden;
  width: 100%
}
.checkout-text {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.cart-total-text {
  font-size: 20px;
}
.single-products-image{
  width: 100%;
  height: 100%;
}
.addtocart-button {
  background-color: #ff5e55;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 10px 25vw;
  margin: 2vh 0;
}
.admin-page {
  margin-top: 80px;
}
.account-home {
  margin-top: 80px;
}
.home-main {
  margin-top: 5vh; 
  margin-bottom: 20vh;
}

.btn-group {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.dropdown {
  margin: 0px auto;
}
.btn {
  padding: 1vh 30vw;
  margin: 3vh 0;
  outline: none;
  text-align: center;
}
.admin-order {
  background-color: #E8E8E8;
  margin-top: 20px;
}
.admin-product {
  font-weight: 700;
}
.single-product-body-text {
  width: 90%;
  margin: 0px auto;
}
.single-product-header {
  font-weight: 700;
  font-size: 25px;
}
.reviews-name {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 700;
}
.reviews-date {
  color: gray;
}
.individual-order {
  background-color: #E8E8E8;
  width: 80%;
  margin: 8px auto;
  border-radius: 10px;
  padding: 5px;
}
.product-review-div {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: 700;
}
.review-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0px auto;
}
.review-field {
  height: 30%;
  display: flex;
  justify-content: flex-start;
  top: 0;
  flex-wrap: wrap;
}
.email {
  width: 90%;
}
.proceed-checkout-button {
  background: transparent;
  border: none;
}
.price-quantity {
  font-size: 20px;
  margin-bottom: 0px
}
.quant-input {
  border: none;
  border-bottom: 2px solid #E8E8E8;
  text-align: center;
  width: 8vw;
  outline: none;
}
.description {
  font-size: 16px;
}
.review-div {
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 2vh;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}
.review-upper-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 3vh auto;
}
.reviews-namedate-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}
.your-orders {
  color: #ff5e55;
}
#tried-it-text {
  margin-top: 3vh;
}
.main-login-input {
  border: none;
  border-bottom: 2px solid #E8E8E8;
  margin: 2vh 0px;
  outline: none;
  font-size: 20px;
}
.main-login-button {
  max-width: 30vw;
  background-color:#ff5e55;
  border: none;
  color: white;
  padding: 2vh 3vw;
  font-size: 20px;
  border-radius: 4px;
  margin: 2vh 0px;
}
.main-login-button:hover,
.main-login-button:active{
  background-color: white;
  border: 2px solid #ff5e55;
  color: #ff5e55;
  padding: calc(2vh - 2px) calc(3vw - 2px);
}
.main-register-button {
  max-width: 30vw;
  background-color:white;
  border: 2px solid #ff5e55;
  color: #ff5e55;
  padding: 2vh 3vw;
  font-size: 20px;
  border-radius: 4px;
  margin: 2vh 0px;
}
.main-register-button:hover,
.main-register-button:active{
  background-color: #ff5e55;
  color: white;
}
#or {
  font-size: 20px;
  font-weight: 700;
  color: gray;
}
.line-container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  justify-content: space-between;
}
.line {
  border-bottom: 2px solid #E0E0E0;
  width: 40%;
  margin: 0px 1vw;
}
.login-register-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5vh;
  color: #707070;
}
.register-main {
  margin-top: 15vh;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 80%;
  justify-content: center;
}
.questions-main {
  margin-top: 15vh;
  height: 100vh;
  margin-bottom: 25vh;
}
.contact-form{
  height: 60%;
  display: flex;
  flex-direction: column;
}
.contact-form input {
  margin: 0px auto;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 2px solid #E0E0E0;
}
.contact-form textarea {
  border: 2px solid #E0E0E0;
  margin: 0px auto;
  height: 30vh;
  margin-top: 5vh;
  width: 80%;
  outline: none;
  min-height: 163px;
}
#thinner-button {
  width: 80%;
  margin: 20px auto;
}
.question {
  margin: 3vh 0;
}
.questions-main h2 {
  margin-bottom: 40px;
}
.answer {
  margin-top: 2vh;
  transition: .5s;
  /* display: block; */
}
.hidden-answer{
  height: 0px;
  overflow: hidden;
  transition: .5s;
  color: white;
  width: 90%;
  margin: 0px auto;
}
.showing-answer {
  height: 45px;
  transition: .5s;
  position: relative;
  color: black;
  width: 90%;
  margin: 0px auto;
}
.main-color-div {
  width: 80%;
  margin: 0px auto;
}
.color-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2vh auto;
  padding: 5px 0px;
  border-bottom: 1px dashed gray;
}
.color-div input {
  width: 10vw;
  border: none;
  border-bottom: 2px solid #E0E0E0;
}
.general-product-div {
  width: 80%;
  margin: 0px auto;
}
.general-product-div input {
  border: none;
  border-bottom: 2px solid #E0E0E0;
  width: 100%;
  font-size: 14px;
  margin: 1vh 0;
}
.category-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0px auto;
}
.category-individual {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: right;
  margin: 1vh 0;
  border: none;
  border-bottom: 1px dashed black;
}
#large-text {
  height: 14vh;
  width: 100%;
  border: 1px solid #E8E8E8;
}
.search-hidden {
  display: none;
}
.search-showing {
  z-index: 860;
  width: 100vw;
  height: 33vh;
  position: fixed;
  top: 50px;
  left: 0vw;
  background: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  min-height: 220px;
}
.hidden-input {
  /* display: none; */
  width: 0vw;
  margin-top: -1.5vh;
  padding-top: 20px;
  transition: .5s;
  outline: none;
  border: none;
  animation: shrinkline .5s
}
.active-input {
  display: inline;
  border: none;
  border-bottom: 2px solid #707070;
  width: 50vw;
  margin-top: -1.5vh;
  transition: .5s;
  padding-top: 20px;
  outline: none;
  font-size: 14px;
}
.active-search-icon {
  margin-right: 3%;
  transition: .5s;
  z-index: 901;
}
.login-modal {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2vh;
}
.modal-login-input {
  margin-top: 1vh;
  border: none;
  border-bottom: 2px solid #707070;
  background: transparent;
  width: 90%;
  outline: none;
  margin-bottom: 2vh;
}
.modal-login-title {
  font-size: 20px;
  margin-top: 5vh;
  display: none;
}
.modal-or {
  font-size: 5px;
}
.modal-button {
  margin-top: 1vh;
}
.state-button {
  text-align: center;
}
.carousel-search-div {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:25vh;
  width: 100%;
  background-color: #4d4d4d;
  border-radius: 10px;
  min-height: 166px;
}
.carousel-search-text{
  width: 100%;
  height: 100%;
}
.carousel-search-div a {
  color: white;
  font-size: 15px;
}
.search-upper-div {
  height: 87%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.carousel-search-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.carousel-search-text p {
  margin-top: 4%;
}
.confirmation-main {
  margin-top: 100px;
  height: 100vh;
}
.cart-quantity-input {
  width: 12%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #707070;
  text-align: center;
}
.remove-from-cart-button {
  background-color: #ff5e55;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.center {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.center ul {
  margin: 15% 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  /* border-bottom: 1px solid rgba(0,0,0,0.2); */
}
.center ul li {
  list-style: none;
  border-radius: 50%;
  border: 15px solid #000;
  position: absolute;
  top: 100%;
  left: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  animation: animate 5s infinite alternate;
  transform: translate(-50%, -50%);
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}
.center ul li:nth-child(1){
  width: 60px;
  height: 60px;
  border-color: #1c3765;
  animation-delay: .2s;
}
.center ul li:nth-child(2){
  width: 90px;
  height: 90px;
  border-color: #c4b9dd;
  animation-delay: .4s;
}
.center ul li:nth-child(3){
  width: 120px;
  height: 120px;
  border-color: #b2dbf4;
  animation-delay: .6s;
}
.center ul li:nth-child(4){
  width: 150px;
  height: 150px;
  border-color: #6f639f;
  animation-delay: .8s;

}
.center ul li:nth-child(5){
  width: 180px;
  height: 180px;
  border-color: #5698c9;
  animation-delay: 1s;
}
.center ul li:nth-child(6){
  width: 210px;
  height: 210px;
  border-color: #dcd6ef;
  animation-delay: 1.2s;
}
.center ul li:nth-child(7){
  width: 240px;
  height: 240px;
  border-color: #78b4dd;
  animation-delay: 1.4s;
}
.footer-main {
  width: 100%;
  background-color: #4d4d4d;
  height: 15vh;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-border {
  height: 15%;
  border-bottom: 3px solid white;
}
.secondary-border-footer {
  height: 8%;
  border-bottom: 2px solid white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  height: 76%;
  color: white;
}
.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-left a {
  color: white;
}
.social-media-icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.social-media-icons a {
  margin-right: 15px;
}
.social-media-icons :nth-child(3){
  margin-right: 0px;
}
.main-review-div {
  margin-bottom: 20vh;
}
@keyframes animate {
  0%{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(315deg);
  }
}
.contact-main-div{
  height: 100%;
}
.forgot-pass {
  border: 2px solid #E0E0E0;
}
.forgot-pass-button {
  background-color: #E0E0E0;
  width: 50%;
  padding: 5px 5px;
  border: none;
  margin-bottom: 5px;
}
.forgot-pass-button:hover,
.forgot-pass-button:active{
  background-color: #4d4d4d;
  color: white;
}
.inner {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
}
#larger-input {
  width: 100%;
}
#smaller-button {
  padding: 3px 5px;
}
.update-pass-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
}
.forgot-pass-button {
  background: transparent;
}
.cloud {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 350px;
  bottom: -5px;
  height: auto;
}
.gray {
  height: 100px;
  width: 90%;
  background-image: radial-gradient(#E0E0E0 ,white);
  border-radius: 40%;
  position: absolute;
  bottom: -91px;
  left: 16px;
  max-width: 440px;
  margin: 0px auto;
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
@keyframes shrinkline {
  from {width : 50vw;
    border-bottom: 2px solid #707070;}
  to {width: 0vw;
    border-bottom: 2px solid #707070;}
}
@media(min-width:450px){
  .gray {
    display: none;
  }
  .center {
    display: none;
  }
  .cart-image {
    width: 70%;
    height: auto;
  }
}
@media(min-width:580px){
.category-container {
  height: 30vh;
}
.carousel-search-div {
  margin-top: 10%;
  height: 150px;
}

}
@media(min-width:800px){
  .category-container{
    height: 45vh;
  }
  .lower-div-category {
    font-size: 22px;
  }
  .footer-main {
    height: 30vh;
  }
  .categories {
    margin-bottom: 35vh;
  }
}
@media(min-width: 1000px){
  .main-logo{
    max-width: 500px;
  }
  .main-banner {
    font-size: 30px;
  }
  .categories {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 35vh;
  }
  .product-headline {
    height: 60vh;
  }
  .product{
    height: 100%;
  }
  .product-page {
    margin-bottom: 45vh;
  }
  .main-product-div {
    width: 30%;
    margin: 50px 15px;
    height: 300px;
    margin-bottom: 80px;
  }
  .mapped-products-image {
    background-position: center top;
    height: 100%;
  }
  .image-div {
    height: 100%;
  }
  .lower-product {
    height: 30%;
  }
  .lower-product p {
    font-size: 20px;
  }
  .lower-product:hover p {
    color: #ff5e55;
  }
  .product-grid {
    width: 90%;
    margin: 0px auto;
  }
  .product-headline {
    font-size: 30px;
  } 
  .product-headline-text {
    font-size: 50px;
  }
  .search-showing {
    height: 60vh;
  }
  .carousel-search-div {
    height: 300px;
    margin-top: 10%;
  }
  .carousel-search-div a {
    text-decoration: none;
  }
  .search-lower-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-lower-div p {
    font-size: 20px;
    margin-top: 0px;
  }
  .search-lower-div p:hover,
  .search-lower-div a:hover {
    color: #ff5e55;
    text-decoration: none;
  }
  .copyright {
    font-size: 20px;
  }
  .social-media-icons a {
    margin-right: 20px;
  }
  .forgot-pass-button{
    padding: 10px 20px;
    width: 30%;
  }
  .login {
    width: 60%;
  }
  .questions-main {
    margin: 0px auto;
    margin-top: 15vh;
    margin-bottom: 30vh;
    width: 80%;
  }
  .addtocart-button{
    padding: 5px 20px;
  }
  #thinner-button {
    padding: 5px 20px;
    width: 20%;
  }
  .single-product-body-text{
    width: 80%;
  }
  .button-div {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    left: -35px;
  }
  .app {
    width: 100%;
  }
  .footer-main {
    width: 100%;
    left: 0;
  }
  .carousel-div {
    width: 60%;
    margin: 0px auto;
  }
  .carousel-image-div{
    width: 100%;
    height: 440px;
  }
  .single-product-main {
    width: 80%;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 35vh;
  }
  .single-product-header {
    margin-top: 20px;
  }
  .main-review-div {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20vh;
  }
  .review-div {
    width: 80%;
    margin: 0px auto;
  }
  #obey-me {
    width: 130px;
    padding: 5px;
  }
  .btn-group {
    display: flex;
    justify-content: center;
  }
  .dropdown-menu {
    top: 70%;
    left: 141px;
  }
  .cart-image {
    width: 40%;
    height: auto;
  }
  .main-cart {
    width: 75%;
    margin: 0px auto;
    margin-top: 80px;
  }
  .orders-main {
    width: 80%;
    margin: 0px auto;
  }
  .product-review-div {
    font-size: 20px;
  }
  .update-pass-main {
    width: 50%;
    margin-top: 100px;
  }
  .account-main {
    margin-top: 40px;
  }
  .quant-input {
    width: 6%;
  }
  .showing {
    width: 20%;
  }
  .tall {
    height: 60%;
    margin-top: 5%;
  }
  .modal-button-log {
    font-size: 18px;
  }
  .modal-button-guest {
    font-size: 18px;
  }
  .checkout-left {
    width: 60%;
  }
  .checkout-order {
    width: 40%;
    background-color: #707070;
    border-radius: 15px;
    color: white;
  }
  .shipping-info{
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
  }
  .email {
    width: 60%;
    font-size: 18px;
    margin-top: 10px;
  }
  .first-name-last-name-checkout{
    width: 60%;
    margin: 0px auto;
  }
  .first-name-last-name-checkout input {
    font-size: 18px;
  }
  .checkout {
    display: flex;
    width: 95%;
    justify-content: space-around;
  }
  .shipping-info input {
    margin-bottom: 50px;
  }
  .shipping-needed{
    font-size: 20px;
  }
  .admin-page {
    width: 70%;
    margin: 0px auto;
    margin-top: 80px;
  }
  .review-main {
    width: 60%;
  }
  #review-button {
    width: 30%;
  }
  .contact-form input,
  .contact-form textarea {
    width: 50%;
  }
  .main-product-div p:hover {
    color: #ff5e55;
    text-decoration: none;
  }
  .product-grid {
    width: 80%;
  }

}
