.App {
  text-align: center;
  margin-bottom: 15vh;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}
button {
  outline: none;
}
.main-logo{
  width: 60%;
  height: auto;
}
.side-drawer {
  height: 50%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 7.8vh;
  left: 0;
  width: 60%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-105%);
  transition: transform 0.2s ease-out;
}
.side-drawer-open {
  transform: translateX(0);
  transition: .5s;
}
.side-drawer-list {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
.cart-number {
  margin-right: -8px;
  color: white;
  position: relative;
  top:-3px;
}
.nav-image {
  width: 50px;
  height: 50px;
  transition: .5s;
}
.nav-image-hidden {
  /* display: none; */
  transition: .5s;
  width: 0px;
  height: 0px;
}
.shopping-cart-image {
  width: 40px;
  height: 40px;
  background-image: url('./images/CartEmpty.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.shopping-cart-item-image{
  width: 40px;
  height: 40px;
  background-image: url('./images/CartItem.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.search-icon {
  width: 30px;
  height: 30px;
  margin-right: 10%;
}

.navbar {
  height: 50px;
  position: fixed;
  top: 0;
  width: 90%;
  margin: 0px 5%;
  display: flex;
  justify-content: space-between;
  transition: .5s;
  align-items: center;
  z-index: 98;
}
.scrolling-navbar {
  height: 50px;
  transition: .5s;
  z-index: 99;
}
.navbar-background {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  transition: .2s;
  padding-bottom: 50px;
  border-bottom: none;
}
.scrolling-background {
  border-bottom: 2px solid gray;
  background-color: white;
  transition: .2s;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 99;
}
.navbar-left {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right {
  width: 43%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-item-nav {
  margin-left: 5%;
}
.hamburger-button {
  padding-left: 0px;
  width: 95px;
  background: transparent;
  border: none;
}
.normal {
  transition: .5s;
  width: 40%;
  height: 100%;
  margin-right: 20px;
}
.list-item{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 20px;
  margin-top: 3vh;
}
.list-item a {
  color: black;
}
.list-item a:hover,
.list-item a:active {
  color: #ff5e55;
  list-style-type: none;
  text-decoration: none;
}
.menu-hidden {
  height: 20vh;
  width: 0;
  transition: .5s;
  position: fixed;
}
.menu-showing {
  position: fixed;
  height: 20vh;
  width: 30%;
  transition: .5s;
}
.main-banner {
  color: gray;
  position: relative;
  margin-top: -30px;
  font-weight: lighter;
}
.category-container{
  width: 100%;
  height: 22vh;
  border-radius: 20px;
}
.product-div {
  width: 100%;
  height: 22vh;
}
.product-upper {
  width: 100%;
  height: 80%;

}
.product-lower {
  width: 100%;
  height: 20%;
  background-color: #4d4d4d;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.upper-div-category{
  background-color: #999999;
  width: 100%;
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-size: cover;
}
.lower-div-category {
  background-color: #4d4d4d;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-text {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  width: 45%;
  margin-top: 10%;
}
.nails-category {
  width: 100%;
}
.category-rows {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0px auto;
}
.categories {
  display: flex;
  flex-direction: column;
}
.mapped-products-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-page {
  margin-top: 50px;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  width: 100%;
  height: 20vh;
}
.main-product-div {
  width: 40%;
  height: 20vh;
  margin-top: 7vh;
}
.lower-product {
  background-color: #4d4d4d;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 20%;
}
.image-div {
  height: 20vh;
  width: 100%;
}
.carousel-div {
  display: flex;
  justify-content: center;
}
.carousel-image {
  width: 100%;
  height: 100%;
}
.cart-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.showing {
      background-color: #E8E8E8;
      width: 60%;
      height: 30vh;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: .5s;
      z-index: 900;
      border-radius: 10px;
      box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
      opacity: 1;
      transition: .5s;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .tall {
      height: 50vh;
      transition: .3s;
    }
.hidden {
  opacity: 0;
  transition: .5s;
  width: 0px;
  height: 0px;
}
.modal-content {
  box-shadow: none;
  background-color: #E8E8E8;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.modal-content p {
  font-size: 20px;
}
.modal-content-login {
  height: 35%;
  transition: .3s;
}
.space {
  height: 13px;
}
.modal-button {
  border: 2px solid gray;
  border-radius: 2px;
  font-size: 18px;
}
.modal-button:active {
  background-color: white;
  outline: none;
}
.loginHidden {
  opacity: 0;
}
.loginShowing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginShowing input {
  margin-top: 5px;
}
.loginShowing button {
  margin-top: 5px;
}
.checkout {
  margin: 0px auto;
  justify-content: center;
  margin-top: 70px;
  width: 80%;
}
.shipping-info {
  margin-top: 50px;
}
.checkout-input {
  border: 1px solid #E8E8E8;
  outline: none;
}
.first-name-last-name-checkout {
  display: flex;
  justify-content: space-between;
}
.add-product {
  display: flex;
  flex-direction: column;
}
.select-color {
  color: red;
}
.dropdown-menu {
  overflow-y: scroll;
  max-height: 30vh;
}
.carousel-image-div {
  width: 100%;
  height: 40vh;
}
.carousel-image-image {
  width: 100%;
  height: 100%;
}
.nails-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.mapped-nails {
  display: flex;
}
.product-headline {
  display: flex;
  width: 80%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  background-color: #c3b8de;
  width: 100%;
  padding: 3vh 0;
}
.product-headline-text {
  margin-top: 10px;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.chevron-back {
  margin-right: 10%;
}
.single-product-main {
  margin-top: 100px;
}
.main-cart-item-div {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0px auto;
}
.left-cart-item {
  width: 50%;
}
.right-cart-item {
  width: 50%;
}
.main-cart {
  margin-top: 80px;
}
.empty-cart {
  margin-top: 40vh;
}
.subtotal-showing {
  height: 15vh;
  width: 100%;
  background-color: #ff5e55;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subtotal-hidden {
  height: 0px;
  overflow: hidden;
  width: 100%
}
.checkout-text {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.cart-total-text {
  font-size: 20px;
}
.single-products-image{
  width: 100%;
  height: 100%;
}
.addtocart-button {
  background-color: #ff5e55;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 8px 14px;
}
.admin-page {
  margin-top: 80px;
}
.account-home {
  margin-top: 80px;
}
.home-main {
  margin-top: 8vh; 
}
.color-button {
  width: 100%;
  background-color: #4d4d4d;
}
.btn-group {
  width: 80%;
}
.admin-order {
  background-color: #E8E8E8;
  margin-top: 20px;
}
.admin-product {
  font-weight: 700;
}
.single-product-body-text {
  width: 90%;
  margin: 0px auto;
}
.single-product-header {
  font-weight: 700;
}
.reviews-name {
  font-size: 16px;
}
.reviews-date {
  color: gray;
}
.individual-order {
  background-color: #E8E8E8;
  width: 80%;
  margin: 0px auto;
  border-radius: 10px;
}
.product-review-div {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: 700;
}
.review-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0px auto;
}
.review-field {
  height: 30%;
  display: flex;
  justify-content: flex-start;
  top: 0;
  flex-wrap: wrap;
}
.email {
  width: 90%;
}
.proceed-checkout-button {
  background: transparent;
  border: none;
}

